body{
    background-image: url(template.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.headline {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.jdm{
    display: flex;
   justify-content: center;
}
.jdm img {
    width: 10vw;
    height: 500px;
    border: 5px solid rgba(248, 255, 254, 0);
    border-radius: 15px;
    transition: all ease-in-out 0.5s;
    aspect-ratio: 3/2;
    object-fit: cover;
    
}

body {
    background-color: rgba(8, 108, 119, 0.831);
}
.jdm img:hover {
    width: 400px;
    height: 500px;
}
h2{
    display: none;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: yellowgreen;
}
 .first:hover h2 {
    display: block;
}
.second:hover h2{
    display: block;
}
.third:hover h2{
    display: block;
}
.fourth:hover h2{
    display: block;
}
.five:hover h2{
    display: block;
}
.six:hover h2{
    display: block;
}